@import "./spinner";
$bg-color: rgb(25, 24, 20);
$white-color: #fff;

.navbar,
.footer {
  background-color: $bg-color;
}

.navbar-brand {
  height: 65px;
  > img {
    display: inline-block;
  }
  >span {
    margin-left: 10px;
    color: darken($white-color, 15%);
  }
}

.footer{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: darken($white-color, 15%);
  line-height: 50px;
  .row{
    margin: 0;
  }
  img{
    display:inline-block;
    position: absolute;
    top: -15px;
    left: 30px;
  }
}

.info-block{
  font-size: 12px;
  max-width: 300px;
}
