@import "./mixins";
$animation-spinner-timing: cubic-bezier(0.7, 0, 0.3, 1);
$base-bg-gray-light-color: #f7f7f7;

.spinner-wrapper {
  position: relative;
  &.spinner-wrapper--visible {
    width: 100%;
    height: 100%;
  }
}

.spinner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999999;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .4);
  @include prefixer(transition, 'opacity, visibility' .5s $animation-spinner-timing, webkit moz ms o spec);

  &.hidden {
    display: block;
    @include prefixer(animation, maskAnimation .5s $animation-spinner-timing both, webkit moz ms o spec);
  }

  .spinner__body {
    position: absolute;
    top: 50%;
    left: 50%;

    height: 80px;
    width: 80px;
    margin: -40px auto auto -40px;
    padding: 0;

    > span {
      position: absolute;
      border: 8px solid $base-bg-gray-light-color;
      border-top: 8px solid transparent;
      @include border-radius(999px);

      &:nth-child(1) {
        width: 80px;
        height: 80px;
        @include prefixer(animation, spin-1 2s linear infinite, webkit moz ms o spec);
      }

      &:nth-child(2) {
        top: 20px;
        left: 20px;
        width: 40px;
        height: 40px;
        @include prefixer(animation, spin-2 1s linear infinite, webkit moz ms o spec);
      }
    }
  }
}

@include keyframes(spin-1) {
  0% {
    @include transform(rotate(360deg));
    opacity: 1;
  }
  50% {
    @include transform(rotate(180deg));
    opacity: 0.5;
  }
  100% {
    @include transform(rotate(0deg));
    opacity: 1;
  }
}

@include keyframes(spin-2) {
  0% {
    @include transform(rotate(0deg));
    opacity: 0.5;
  }
  50% {
    @include transform(rotate(180deg));
    opacity: 1;
  }
  100% {
    @include transform(rotate(360deg));
    opacity: 0.5;
  }
}

@include keyframes(maskAnimation) {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
