<!DOCTYPE html>
<html>
    <head>
        <title>Mikhail Lantukh's test for RocketRoute</title>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMKBlMX_5l42G2-_LIK1BEEXssILcWZSw" ></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/app.css" />
        <link rel="shortcut icon" href="http://www.rocketroute.com/wp-content/themes/rocket/_images/favicon.png">
    </head>
    <body>
        <div id="content"></div>
        <script src="/js/vendor.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
